<div class="course-group">
    <div class="top-group">
        <span class="title-group">关于</span>
        <a href="#" class="more-group">更多</a>
    </div>
</div>
<div class="pay-info-group">
    <a href="#">
        <img src="http://achjiang.cn/logo-4.jpg" alt="">
        <h4>一个进阶的码农...<br>生命不息 学习不止</h4>
    </a>

</div>
<div class="focus-group">
    <div class="title-group">关注</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                <div class="logo-group zhihu-logo"></div>
                <div class="text-group">
                    <a href="#">江寒</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group weibo-logo"></div>
                <div class="text-group">
                    <a href="#">achjiang</a>
                </div>
            </div>
        </div>
        <div class="right-group">
            <div class="qr-group"></div>
            <p class="text-group">扫码添加好友achjiang</p>
        </div>
    </div>
</div>