<div class="course-group">
    <div class="top-group">
        <span class="title-group">网站简介</span>
        <a href="#" class="more-group">更多</a>
    </div>
</div>
<div class="pay-info-group">
    <a href="#">
        <img src="#" alt="">
    </a>
</div>
<div class="focus-group">
    <div class="title-group">关注</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                <div class="logo-group fa-weixin"></div>
                <div class="text-group">
                    <a href="#">achjiang</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group weibo-logo"></div>
                <div class="text-group">
                    <a href="#">achjiang</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group zhihu_logo"></div>
                <div class="text-group">
                    <a href="#">江寒</a>
                </div>
            </div>
        </div>
        <div class="right-group">
            <div class="qr-group"></div>
            <p class="text-group">扫码添加好友achjiang</p>
        </div>
    </div>
</div>