<div class="course-group">
    <div class="top-group">
        <span class="title-group">在线课堂</span>
        <a href="#" class="more-group">更多</a>
    </div>
</div>
<div class="pay-info-group">
    <a href="#">
        <img src="http://www.xfz.cn/static/build/images/side-gift-banner.png" alt="">
    </a>
</div>
<div class="focus-group">
    <div class="title-group">关注小饭桌</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                <div class="logo-group zhihu-logo"></div>
                <div class="text-group">
                    <a href="#">小饭桌创业课堂</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group weibo-logo"></div>
                <div class="text-group">
                    <a href="#">小饭桌创业课堂</a>
                </div>
            </div>
            <div class="item-group">
                <div class="logo-group toutiao-logo"></div>
                <div class="text-group">
                    <a href="#">小饭桌</a>
                </div>
            </div>
        </div>
        <div class="right-group">
            <div class="qr-group"></div>
            <p class="text-group">扫码关注小饭桌微信公众平台xfz008</p>
        </div>
    </div>
</div>