{% extends 'base/front_base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/payinfo/payinfo.css" %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-container">
            <div class="banner">
                <img src="http://www.xfz.cn/static/build/images/web-venture-banner.png" alt="">
            </div>
            <div class="payinfo-list-container">
                <ul class="payinfo-ul">
                    {% for payinfo in payinfos %}
                        <li>
                            <a href="{% url 'payinfo:payinfo_order' %}?payinfo_id={{ payinfo.pk }}">
                            <div class="category-group document-group"></div>
                            <div class="payinfo-info-group">
                                <p class="payinfo-title">{{ payinfo.title }}</p>
                                <p class="payinfo-desc">{{ payinfo.profile }}</p>
                                <p class="price-text">￥{{ payinfo.price }}</p>
                            </div>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div class="sidebar-container">
            {% include 'base/side.html' %}
        </div>
    </div>
{% endblock %}