{% extends 'cms/base.html' %}
{% load rest_framework %}
{% block title %}
    课程老师
{% endblock %}

{% block head %}
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/course_teacher.js' %}"></script>
{% endblock %}

{% block content-header %}
    <h1>课程老师</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <a href="{% url "cms:course_teacher_list" %}"><button id="add-btn" class="btn btn-primary pull-right" >添加分类</button></a>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>老师姓名</th>
                            <th>职称</th>
                            <th>简介</th>
                            <th>头像</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in course_teachers %}
                            <tr data-pk="{{ teacher.pk }} " data-name="{{ teacher.username }}">
                                <td>{{ teacher.username }}</td>
                                <td>{{ teacher.jobtitle }}</td>
                                <td>{{ teacher.profile }}</td>
                                <td><img src="{{ teacher.avatar}}" alt="" style="height: 40px"></td>
                                <td>
                                    <a href="{% url "cms:course_teacher_detail" pk=teacher.id %}"><button class="btn btn-warning btn-xs edit-btn">编辑</button></a>
                                    <a href="#"><button class="btn btn-danger btn-xs delete-btn">删除</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}