
{% extends 'cms/base.html' %}

{% block title %}
个人中心
{% endblock %}

{% block head %}

{% endblock %}

{% block content-header %}
<h1>个人中心</h1>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-12">
    <div class="box">
        <div class="box-body">
        {% if current_user %}
            <label style="font-size: 18px">用户信息：</label><br>
            <label>用户名称：</label> <p>{{ current_user.username }}</p>
            <label>手机号码：</label> <p>{{ current_user.telephone }}</p>
            <label>头像：</label><br>
            <img src="https://goss2.vcg.com/creative/vcg/800/version23/VCG41546770582.jpg" alt="" style=" width: 500px">
        {% endif %}<br>
        </div>
    <div style="width: 500px">
        <button class="pull-right" style="margin-left: 50px"><a href="#" >编辑信息</a></button>
    </div>

        <div class="box-footer"></div>
    </div>
</div>
</div>
{% endblock %}
