{% extends 'base/front_base.html' %}

{% block title %}
    登陆界面
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
{% endblock %}

{% block main %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="main-auth-group">
        <div class="top-group">
            <span class="title">请登陆</span>
            <a href="#" class="more-link">请注册</a>
        </div>
        <div class="from-group">
            <div class="input-group">
                <input type="text" class="from-control" name="telephone" placeholder="请输入手机号码或邮箱">
            </div>
            <div class="input-group">
                <input type="password" class="from-control" name="password" placeholder="请输入密码">
            </div>
            <div class="input-group">
                <label for="">
                    <input type="checkbox" name="remember" value="1">记住我
                </label>
                <a href="#" class="forget-pwd">忘记密码？</a>
            </div>
            {% if messages %}
                <div class="input-group">
                    {# message消息是一个需要遍历才能提取的消息 #}
                    {% for message in messages %}
                        <p style="color: red;text-align: center">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="input-group">
            <button class="submit-btn">登录</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

